.logo {
	grid-area: lg;
}

.nav-bar {
	grid-area: nav;
	// display: inline-block;
}

.sidebar {
	grid-area: sd;
}

.content {
	grid-area: main;
}

.images {
	grid-area: img;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: auto;
	grid-template-areas:
	"lg . nav nav nav nav nav"
	"sd main main main main main main"
	".  img img img img img img";
	// grid-column-gap: 20px;
};

// #img1 {
// 	grid-row-start: 4;
// 	grid-row-end: 5;
// }

// #img2 {
// 	grid-row-start: 6;
// 	grid-row-end: 7;
// }

// #img {
// 	grid-row-start: 8;
// 	grid-row-end:9;
// }

.images {
	// column-count: 1;
	// column-gap: 5px;
	// display: inline-block;
}

.images img {
  border: 0 none;
  display: inline;
  align: center;
  margin: 10px;
  height: auto;
  max-width: 30%;
  vertical-align: middle;

	// width: 100%;	
	// height: auto;

	// position: relative;
	// float: left;
	// width: 100px;
	// height: 100px;
	// background-position: 50% 50%;
	// background-repeat: no-repeat;
	// background-size: cover;
	// max-width: 200px;
	// column-count: 2;
	// column-gap: 10px;
	// clip-path: rect(40px, 260px, 150px, 80px);
}	