.logo {
	grid-area: lg;
}

.nav-bar {
	grid-area: nav;
}

.hr-line {
	grid-area: hr;
}
.sidebar {
	grid-area: sd;
}

.content {
	grid-area: main;
}

.images {
	grid-area: img;
}

// display for small screens
.wrapper {
	.nav-bar {
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
	}

	a {
		padding: 7px;
	}

	.logo {
		object-fit: none;
	}
	#specials {
		background-size: 110%;
	}
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-item: center;
}

//display for large screens
@media (min-width: 768px) {
	.wrapper {
		.nav-bar{
			margin-top: 0;
			display: flex;
			flex-direction: row;
		}
		.logo {
			object-fit: fill;
		}
		#specials {
			background-size: 100%;
		}		
		padding: 20px;
		max-width: none;
		margin: auto;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-auto-rows: auto;
		grid-template-areas:
		"lg . nav nav nav nav nav"
		"hr hr hr  hr  hr  hr  hr"
		"sd main main main main main main"
		".  img img img img img img";
	};
};	

	